
<%- include('../layouts/adminheader.ejs') %>
  <%- include('../layouts/admin_nav.ejs') %>


            <!-- Body: Body -->
            <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">Category List</h4>

      <!-- Basic Bootstrap Table -->
      <div class="card">
        <br>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Product</th>
                <th>description </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                                            <% category.map(cat => { %>
                                            <tr>
                                                <td><strong><%= cat.id %></strong></td>
                                                <td><strong><%= cat.categoryName %></strong></td>
                                                <td><%= cat.createdAt.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></td>
                                                <!-- <td><span class="badge bg-success">Published</span></td> -->
                                                <td class="d-flex">
                                                    <form class="col-6" action='/deleteCategory/<%= cat._id %>' method="POST">
                                                        <button type="submit" class="btn btn-outline-secondary">delete<i class="icofont-ui-delete text-danger"></i></button>
                                                    </form>
                                                    <form class="col-6" action="/editCategory/<%= cat._id %>" method="get">
                                                            <button type="submit" class="btn btn-outline-secondary">Edit<i class="icofont-edit text-success"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>

                                        <!-- <td><span class="badge bg-label-success me-1">Completed</span></td>
                                                    
                                                    <td><span class="badge bg-label-info me-1">Scheduled</span></td>
                                                   
                                                    <td><span class="badge bg-label-warning me-1">Pending</span></td> -->
                            
                                      </table>
                                    </div>
                                  </div>
                            
                                  <hr class="my-5" />
<%- include('../layouts/adminfooter.ejs') %>




