<%- include('../layouts/adminheader.ejs') %>
  <%- include('../layouts/admin_nav.ejs') %>

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4">Userlist</h4>
                    
                        <div class="card">
                            <br>
                            <div class="table-responsive text-nowrap">
                              <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Customers</th> 
                                                <th>Mail</th>
                                                <th>wallet</th>
                                                <th>phonenumber</th> 
                                                <!-- <th>Actions</th>  -->
                                                
                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% User.forEach(data=>{ %>
                                            <tr>
                                                
                                                <td><%= data.name %></td>
                                                <td><%= data.email %></td>
                                                <td><%= data.wallet %></td>
                                                <td><%= data.phonenumber %></td>
                                                <td>
                                                        <% if (data.blocked) { %>
                                                            <form class="unblock-form" method="post" action="/blockUser">
                                                                <input type="hidden" name="email" value="<%= data.email %>">
                                                                <button type="submit" class="btn btn-success text-light">UnBlock</button>  
                                                            </form>
                                                        <% } else { %>
                                                            <form class="block-form" method="post" action="/blockUser">
                                                                <input type="hidden" name="email" value="<%= data.email %>">
                                                                <button type="submit" class="btn btn-danger text-light">Block</button>  
                                                            </form>
                                                        <% } %>  
                                                </td>
                                            </tr>
                                            <%  }) %>
                                        </tbody>
                                    </table>
                                </div>
                              </div>
                              <!--/ Basic Bootstrap Table -->
                        
                              <hr class="my-5" />
            
                              <%- include('../layouts/adminfooter.ejs') %>