<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>::eBazar:: Products List </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->

    <!--plugin css file -->
    <link rel="stylesheet" href="/assets/admin/assets/nouislider/nouislider.min.css">

    <!-- project css file  -->
    <link rel="stylesheet" href="/assets/admin/css/ebazar.style.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div id="ebazar-layout" class="theme-blue">

        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-4 me-0">
            <div class="d-flex flex-column h-100">
                <a href="/admin/dashboard" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="bi bi-bag-check-fill fs-4"></i>
                    </span>
                    <span class="logo-text">Megx.ft</span>
                </a>
                <ul class="menu-list flex-grow-1 mt-3">
                    <li><a class="m-link active" href="/admin/dashboard"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                    <li><a class="m-link active" href="/admin/productlist"><i class="icofont-truck-loaded fs-5"></i> <span>Products</span></a></li>
                    <li><a class="m-link active" href="/admin/categorielist"><i class="icofont-chart-flow fs-5"></i> <span>Categories</span></a></li>
                    <li><a class="m-link active" href="/admin/subcategories"><i class="icofont-chart-flow fs-5"></i> <span>Subcategories</span></a></li>
                    <li><a class="m-link active" href="/admin/list-order"><i class="icofont-notepad fs-5"></i> <span>Orders</span></a></li>
                    <li><a class="m-link active" href="/admin/customerslist"><i class="icofont-funky-man fs-5"></i> <span>Customers</span></a></li>
                </ul>
            </div>
        </div>

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">

                            <div class="dropdown zindex-popover">
                                <a class="nav-link dropdown-toggle pulse" href="#" role="button"
                                    data-bs-toggle="dropdown">
                                    <img src="assets/images/flag/GB.png" alt="">
                                </a>

                            </div>

                        </div>

                    </div>
                </nav>
            </div>

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">Order list</h4>

            <!-- Body: Body -->
            <div class="card">
              <br>
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Users</th>
                      <th>Order Id</th>
                      <th>payment </th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(order.length> 0){ %>
                      <% order.forEach((x,index)=> {
                        %>
                        <tr>
                          <td>
                            <%= index+1 %>
                          </td>
                          <td><strong>
                              <%= x.address.name %>
                            </strong></td>
      
                          <td><strong>
                              <%= x.orderId %>
                            </strong></td>
                          <td><strong>
                              <%= x.paymentType %>
                            </strong></td>
                          <% if(x.status=="Delivered" || x.status=='Cancelled' ){ %>
                            <td><strong>
                                <%= x.status %>
                              </strong></td>
                            <% }else if (x.status=='Confirmed' ){ %>
                              <td>
                                <div class="dropdown">
                                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i>
                                      <%= x.status %>
                                    </i>
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="updateStatus('<%= x._id %>', 'Processing')">
                                      <i class="me-1"></i>Processing
                                    </a>
                                    <a class="dropdown-item" onclick="updateStatus('<%= x._id %>', 'Shipped')">
                                      <i class="me-1"></i>Shipped
                                    </a>
                                    <a class="dropdown-item" onclick="updateStatus('<%= x._id %>', 'Delivered')">
                                      <i class="me-1"></i>Delivered
                                    </a>
                                  </div>
                                </div>
                              </td>
                              <% }else if (x.status=='Processing' ){ %>
                                <td>
                                  <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                      data-bs-toggle="dropdown">
                                      <i>
                                        <%= x.status %>
                                      </i>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" onclick="updateStatus('<%= x._id %>', 'Shipped')">
                                        <i class="me-1"></i>Shipped
                                      </a>
                                      <a class="dropdown-item" onclick="updateStatus('<%= x._id %>', 'Delivered')">
                                        <i class="me-1"></i>Delivered
                                      </a>
                                    </div>
                                  </div>
                                </td>
                                <% }else if (x.status=='Shipped' ){ %>
                                  <td>
                                    <div class="dropdown">
                                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i>
                                          <%= x.status %>
                                        </i>
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="updateStatus('<%= x._id %>', 'Delivered')">
                                          <i class="me-1"></i>Delivered
                                        </a>
                                      </div>
                                    </div>
                                  </td>
                                  <% }else if(x.status=='Return Pending' ){%>
      
                                    <td>
                                      <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                          data-bs-toggle="dropdown">
                                          <i>
                                            <%= x.status %>
                                          </i>
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" onclick="returnOrder('<%= x._id %>', 'Return')">
                                            <i class="me-1"></i>Confirm
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                    <% }else{%>
                                      <td>
                                        <strong>
                                          <%= x.status %>
                                        </strong>
                                      </td>
      
                                      <% }%>
                                        <td><a class="dropdown-item" href="/admin/view-order?id=<%= x._id %>">
                                            <i class="bx bx-show me-1"></i> view </a>
                                        </td>
                        </tr>
                        <% }) } else{ %>
                          <tr>
                            <td colspan="5">no orders</td>
                          </tr>
                          <% } %>
                  </tbody>
                </table>
              </div>
            </div>
        
            <!-- Modal Custom Settings-->
          
            
        </div>                                 

    </div> 

    <script>
      function updateStatus(orderId, status) {

$.ajax({
  url: '/admin/update_status',
  data: {
    order_Id: orderId,
    status: status

  },

  method: 'post',
  success: (response) => {
    if (response.success) {

      location.href = '/admin/list-order'

    }
  }
})
}

function returnOrder(orderId, status) {
$.ajax({
  url: '/admin/confirm_return',
  data: {
    order_Id: orderId,
    status: status

  },

  method: 'post',
  success: (response) => {
    if (response.success) {

      location.href = '/admin/list-order'

    }
  }
})

}
    </script>

    <!-- Jquery Core Js -->
    <script src="/assets/admin/bundles/libscripts.bundle.js"></script>

    <!-- Jquery Plugin -->
    <script src="/assets/admin/plugin/nouislider/nouislider.min.js"></script>

    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>

    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>
    <script>
        $('#myDataTable')
        .addClass( 'nowrap')
        .dataTable( {
            responsive: true,
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
    </script>
</body>

<!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/order-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 11:51:11 GMT -->
</html> 