<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>::eBazar:: Products List </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->

    <!--plugin css file -->
    <link rel="stylesheet" href="/assets/admin/assets/nouislider/nouislider.min.css">

    <!-- project css file  -->
    <link rel="stylesheet" href="/assets/admin/css/ebazar.style.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div id="ebazar-layout" class="theme-blue">

        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-4 me-0">
            <div class="d-flex flex-column h-100">
                <a href="/admin/dashboard" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="bi bi-bag-check-fill fs-4"></i>
                    </span>
                    <span class="logo-text">Megx.ft</span>
                </a>
                <ul class="menu-list flex-grow-1 mt-3">
                    <li><a class="m-link active" href="/admin/dashboard"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                    <li><a class="m-link active" href="/admin/productlist"><i class="icofont-truck-loaded fs-5"></i> <span>Products</span></a></li>
                    <li><a class="m-link active" href="/admin/categorielist"><i class="icofont-chart-flow fs-5"></i> <span>Categories</span></a></li>
                    <li><a class="m-link active" href="/admin/subcategories"><i class="icofont-chart-flow fs-5"></i> <span>Subcategories</span></a></li>
                    <li><a class="m-link active" href="/admin/list-order"><i class="icofont-notepad fs-5"></i> <span>Orders</span></a></li>
                    <li><a class="m-link active" href="/admin/customerslist"><i class="icofont-funky-man fs-5"></i> <span>Customers</span></a></li>
                </ul>
            </div>
        </div>

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">

                            <div class="dropdown zindex-popover">
                                <a class="nav-link dropdown-toggle pulse" href="#" role="button"
                                    data-bs-toggle="dropdown">
                                    <img src="assets/images/flag/GB.png" alt="">
                                </a>

                            </div>

                        </div>

                    </div>
                </nav>
            </div>

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">Banner list</h4>

                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- <h4 class="fw-bold py-3 mb-4">Banner list</h4> -->
    
                    <div
                                    class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                    <h3 class="fw-bold mb-0">Coupon</h3>
                                    <a href="/admin/add-banner"><button type="button"
                                            class="btn btn-primary btn-set-task py-2 px-5 text-uppercase">AddCoupon</button></a>
                                </div>
          
                <!-- Basic Bootstrap Table -->
                <div class="card" id="reloadDiv">
                    <br>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Caption</th>
                                    <th>Title</th>
                                    <th>Sub title</th>
                                    <th></th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(bannerData.length > 0) { %>
                                    <% bannerData.forEach((x, value) => { %>
                                        <tr id="delete-banner">
                                            <td>
                                                <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                                                <strong><%= value + 1 %></strong>
                                            </td>
                                            <td><%= x.caption %></td>
                                            <td><strong><%= x.title %></strong></td>
                                            <td><%= x.sub_title %></td>
                                            <td><img src="/img/<%= x.Image %>" alt="" style="width: 50px; height: 50px;"></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit<%= x._id %>"> Edit</button>
                                                        <button class="btn btn-danger" onclick="delete_banner('<%= x._id %>')">
                                                            <i class="bx bx-trash me-1"></i> Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="edit<%= x._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit Banner</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="myform" class="row g-3 needs-validation" novalidate>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label>Caption</label>
                                                                        <input type="text" class="form-control" name="caption" value="<%= x.caption %>" required>
                                                                    </div>
                                                                    <input type="hidden" name="id" value="<%= x._id %>">
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label>Title</label>
                                                                        <input type="text" class="form-control" name="title" value="<%= x.title %>" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label>Sub Title</label>
                                                                        <input type="text" class="form-control" name="sub_title" value="<%= x.sub_title %>" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="submit" class="btn btn-dark float-end" data-bs-dismiss="modal">Save</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6">Banner not found</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
          
                <hr class="my-5" />
</div>
    <script>
      
    </script>

    <!-- Jquery Core Js -->
    <script src="/assets/admin/bundles/libscripts.bundle.js"></script>

    <!-- Jquery Plugin -->
    <script src="/assets/admin/plugin/nouislider/nouislider.min.js"></script>

    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>

    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>
    <script>
        $('#myDataTable')
        .addClass( 'nowrap')
        .dataTable( {
            responsive: true,
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
    </script>

    <script>
        function delete_banner(id) {


Swal.fire({
  title: 'Are you sure?',
  text: "You wan't to delete!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'yes, delete!'
}).then((result) => {
  if (result.isConfirmed) {
    $.ajax({
      url: "/admin/delete-banner",
      data: {
        banner: id
      },
      method: 'post',
      success: (response) => {
        console.log("waoring")

        $('#delete-banner').load('admin/list-banner #delete-banner')
        console.log(response);
        Swal.fire({
          title: 'deleted!',
          text: 'Your deleted',
          icon: 'success',
          showConfirmButton: false
        })


      }

    })
  }
})
}

$(document).ready(function () {
$('#myform').submit(function (event) {
  event.preventDefault(); //prevent default form submit action
  var formData = $(this).serialize(); //serialize form data
  $.ajax({
    type: 'POST',
    url: '/admin/edit-banner',
    data: formData,
    success: function (response) {

      $('#reloadDiv').load('/admin/list-banner #reloadDiv')
      Swal.fire({
        title: 'Edited!',
        text: 'Your Banner edited',
        icon: 'success',
        showConfirmButton: false,
        timer: 1000
      })
    },
    error: function (xhr, status, error) {
      //handle error response
    }
  });
});
});
    </script>
</body>

<!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/order-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 11:51:11 GMT -->
</html> 