<%- include('../layouts/header.ejs') %>
<%- include('../layouts/nav.ejs')%>

    
    <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Cart Page </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cart-main-area pt-90 pb-100">
        <div class="container">
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-content table-responsive cart-table-content">
                        <% if (userData.cart.length == 0) { %>
                            <h4 style="color: red;">Ooops there is nothing in your cart..!!!</h4>
                        <% } else { %>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% userData.cart.forEach((cart) => {
                                        const product = cart.productId;
                                        if (product) {
                                    %>
                                        <tr id="product_row_<%= product._id %>">
                                            <td class="product-thumbnail">
                                                <a href="#"><img style="height: 100px; width: 100px;" src="/img/<%= product.images[0] %>" alt="Product Image"></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#"><%= product.productName %></a>
                                            </td>
                                            <td class="product-price-cart">
                                                <span class="amount">$<%= product.price %></span>
                                            </td>
                                            <td class="product-quantity">
                                                <button style="border: none; border-radius: 3px; padding: 0 16px;" onclick="cartquantityupdation('<%= userData._id %>', '<%= product._id %>', -1, '<%= product.price %>', '<%= product.stockQuantity %>')"> -</button>
                                                <%= console.log(userData._id,product._id,product.price,product.stockQuantity) %>
                                                <span id="<%= product._id %>"><%= cart.qty %></span>
                                                <button style="border: none; border-radius: 3px; padding: 0 16px;" onclick="cartquantityupdation('<%= userData._id %>', '<%= product._id %>', 1, '<%= product.price %>', '<%= product.stockQuantity %>')"> + </button>
                                            </td>
                                            <td class="product-subtotal">
                                                <h5 class="<%= product._id %>">$<%= cart.productTotalprice %></h5>
                                            </td>
                                            <td class="product-remove">
                                                <a href="#" onclick="deleteCartProduct('<%= userData._id %>','<%= product._id %>')"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    <% 
                                        }
                                    }) %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="/shop">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                </div>
                                <h5>Total products <span id="cartTotalPrice">$<%= userData.cartTotalPrice %></span></h5>
                                <h4 class="grand-totall-title">Grand Total <span id="grandTotalPrice">$<%= userData.cartTotalPrice %></span></h4>
                                <a href="/checkout">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </script>


    <script>
        function deleteCartProduct(userId,productId) {
      console.log('hi');
      Swal.fire({
    
          title: 'Are you sure?',
          text: "You wan't to delete!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'yes, delete!'         
      }).then((result) => {
        console.log(userId);
          if (result.isConfirmed) {
              $.ajax({
                  url: '/deletecartproduct',
                  data: {
                    userId:userId,
                    deleteProId:productId
                  },
                  
                  method: 'post',
                  success: (response) => {
                      console.log("waoring")
      
                      $('#table').load('/cartitemslisting #table')
                      console.log(response);
                      Swal.fire({
                          title: 'deleted!',
                          text: 'Your deleted',
                          icon: 'success',
                          showConfirmButton: false,
                          timer:1000
                      })
                      
      console.log('delete over');
                  }
      
              })
          }
      })
      }

    </script>

    <script>
         function cartquantityupdation(userId, productId, count, proPrice, availableQuantity) {  
            console.log(userId,productId,count,proPrice,availableQuantity);
    let quantity = parseInt(document.getElementById(productId).innerHTML);
    let updatedQuantity = quantity + count;
    console.log(updatedQuantity);

    if (updatedQuantity < 1) {
        Swal.fire({
            title: 'Invalid quantity',
            text: "Quantity cannot be less than one",
            icon: 'warning',
            confirmButtonColor: '#3085d6',
        });
    } else if (updatedQuantity > availableQuantity) {
        Swal.fire({
            title: 'Out of stock',
            text: "Sorry, currently unavailable!",
            icon: 'warning',
            confirmButtonColor: '#3085d6',
        });
    } else {
        $.ajax({
            url: '/changequantity',
            data: {
                user: userId,
                product: productId,
                count: count,
                Quantity: quantity,
                proPrice: proPrice
            },
            method: 'post',
            success: (response) => {
                if (response.response) {
                    document.getElementById(productId).innerHTML = updatedQuantity;
                    document.getElementsByClassName(productId)[0].innerHTML = response.singleproductprice;
                    document.getElementById('total').innerHTML = response.sum;
                } else {
                    Swal.fire({
                        title: 'Out of stock',
                        text: response.message,
                        icon: 'warning',
                        confirmButtonColor: '#3085d6',
                    });
                }
            },
            error: (err) => {
                console.log('Error updating quantity:', err);
            }
        });
    }
}
    </script>

<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/foot.ejs')%>