<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from demo.hasthemes.com/flone-preview/flone/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:35:46 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!doctype html>
    <html class="no-js" lang="zxx">


    <!-- Mirrored from demo.hasthemes.com/flone-preview/flone/index-8.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:34:58 GMT -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>meggx.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

        <!-- CSS
        ============================================ -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="assets/css/icons.min.css">
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="assets/css/plugins.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Modernizer JS -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>

    <body>
        <header class="header-area header-padding-1 sticky-bar header-res-padding clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                        <div class="logo">
                            <a href="/">
                                <img alt="" src="assets/img/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="/">Home <i class="fa fa-angle-down"></i></a>
                                        <!-- <ul class="mega-menu mega-menu-padding">
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">Demo Group 01</a></li>
                                                    <li><a href="/">Home 1 – Fashion</a></li>
                                                    <li><a href="index-2.html">Home 2 – Fashion</a></li>
                                                    <li><a href="index-3.html">Home 3 – Fashion</a></li>
                                                    <li><a href="index-4.html">Home 4 – Fashion</a></li>
                                                    <li><a href="index-5.html">Home 5 – Fashion</a></li>
                                                    <li><a href="index-6.html">Home 6 – Fashion</a></li>
                                                    <li><a href="index-7.html">Home 7 – Fashion</a></li>
                                                    <li><a href="index-8.html">Home 8 – Minimal</a></li>
                                                    <li><a href="index-9.html">Home 9 – Electronics</a></li>
                                                    <li><a href="index-10.html">Home 10 – Furniture</a></li>
                                                    <li><a href="index-11.html">Home 11 - showcase slider</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">Demo Group 02</a></li>
                                                    <li><a href="index-12.html">Home 12 – Plants</a></li>
                                                    <li><a href="index-13.html">Home 13 – Cosmetic</a></li>
                                                    <li><a href="index-14.html">Home 14 – Christmas</a></li>
                                                    <li><a href="index-15.html">Home 15 – Fruit</a></li>
                                                    <li><a href="index-16.html">Home 16 –  Black Friday</a></li>
                                                    <li><a href="index-17.html">Home 17 – Flower</a></li>
                                                    <li><a href="index-18.html">Home 18 – Book</a></li>
                                                    <li><a href="index-19.html">Home 19 – Fashion</a></li>
                                                    <li><a href="index-20.html">Home 20 – Electronics</a></li>
                                                    <li><a href="index-21.html">Home 21 – Furniture</a></li>
                                                    <li><a href="index-22.html">Home 22 – Handmade</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">Demo Group 03</a></li>
                                                    <li><a href="index-23.html">Home 23 – Organic</a></li>
                                                    <li><a href="index-24.html">Home 24 – Pet Food</a></li>
                                                    <li><a href="index-25.html">Home 25 – Auto Parts</a></li>
                                                    <li><a href="index-26.html">Home 26 – Cake Shop</a></li>
                                                    <li><a href="index-27.html">Home 27 – Kids Fashion</a></li>
                                                    <li><a href="index-28.html">Home 28 – Book Shop</a></li>
                                                    <li><a href="index-29.html">Home 29 – Flower Shop</a></li>
                                                    <li><a href="index-30.html">Home 30 – Instagram</a></li>
                                                    <li><a href="index-31.html">Home 31 – Black Friday</a></li>
                                                    <li><a href="index-32.html">Home 32 – Valentine Day</a></li>
                                                    <li><a href="index-33.html">Home 33 – Medical Equipment</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a href="/shop"> Shop <i class="fa fa-angle-down"></i> </a>
                                        <!-- <ul class="mega-menu">
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">shop layout</a></li>
                                                    <li><a href="/shop">standard style</a></li>
                                                    <li><a href="shop-filter.html">Grid filter style</a></li>
                                                    <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
                                                    <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
                                                    <li><a href="shop-grid-fw.html">Grid full wide </a></li>
                                                    <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
                                                    <li><a href="shop-list.html">list 1 column box </a></li>
                                                    <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
                                                    <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">product details</a></li>
                                                    <li><a href="product-details.html">tab style 1</a></li>
                                                    <li><a href="product-details-2.html">tab style 2</a></li>
                                                    <li><a href="product-details-3.html">tab style 3</a></li>
                                                    <li><a href="product-details-4.html">sticky style</a></li>
                                                    <li><a href="product-details-5.html">gallery style </a></li>
                                                    <li><a href="product-details-slider-box.html">Slider style</a></li>
                                                    <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                    <li><a href="product-details-6.html">fixed image style </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-img"><a href="/shop"><img src="assets/img/banner/banner-12.png" alt=""></a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <!-- <li><a href="/shop">Collection</a></li> -->
                                    <!-- <li><a href="#"> Pages <i class="fa fa-angle-down"></i></a> -->
                                    <!-- <ul class="submenu">
                                            <li><a href="/about">about us</a></li>
                                            <li><a href="/cartpage">cart page</a></li>
                                            <li><a href="/checkout">checkout </a></li>
                                            <li><a href="/wishlist">wishlist </a></li>
                                            <li><a href="/myaccount">my account</a></li>
                                            <li><a href="login-register.html">login / register </a></li>
                                            <li><a href="contact.html">contact us </a></li>
                                            <li><a href="404.html">404 page </a></li>
                                        </ul> -->
                                    </li>
                                    <!--  -->
                                    <li><a href="/about"> About </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                        <div class="header-right-wrap">
                            <div class="same-style header-search">
                                <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                                <div class="search-content">
                                    <form action="#">
                                        <input type="text" placeholder="Search" />
                                        <button class="button-search"><i class="pe-7s-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="same-style account-satting">
                                <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                                <div class="account-dropdown">
                                    <ul>
                                        <% if (isAuthenticated) { %>

                                            <li><a href="/wishlist">Wishlist</a></li>
                                            <li><a href="/myaccount">My Account</a></li>
                                            <li><a href="/logout">Logout</a></li>
                                            <% } else { %>
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="/signup">Register</a></li>
                                                <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="same-style header-wishlist">
                                <a href="/wishlist"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <button class="icon-cart">
                                    <i class="pe-7s-shopbag"></i>
                                    <!-- <span class="count-style">02</span> -->
                                </button>
                                <div class="shopping-cart-content">
                                    <!-- <ul>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="assets/img/cart/cart-1.png"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">T- Shart & Jeans </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="assets/img/cart/cart-2.png"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">T- Shart & Jeans </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>Shipping : <span>$20.00</span></h4>
                                        <h4>Total : <span class="shop-total">$260.00</span></h4>
                                    </div> -->
                                    <div class="shopping-cart-btn btn-hover text-center">
                                        <a class="default-btn" href="/cartpage">view cart</a>
                                        <a class="default-btn" href="/checkout">checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="/">HOME</a>
                                    <ul>
                                        <li><a href="#">Demo Group 01</a>
                                            <ul>
                                                <li><a href="/">Home 1 – Fashion</a></li>
                                                <li><a href="index-2.html">Home 2 – Fashion</a></li>
                                                <li><a href="index-3.html">Home 3 – Fashion</a></li>
                                                <li><a href="index-4.html">Home 4 – Fashion</a></li>
                                                <li><a href="index-5.html">Home 5 – Fashion</a></li>
                                                <li><a href="index-6.html">Home 6 – Fashion</a></li>
                                                <li><a href="index-7.html">Home 7 – Fashion</a></li>
                                                <li><a href="index-8.html">Home 8 – Minimal</a></li>
                                                <li><a href="index-9.html">Home 9 – Electronics</a></li>
                                                <li><a href="index-10.html">Home 10 – Furniture</a></li>
                                                <li><a href="index-11.html">Home 11 - showcase slider</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Demo Group 02</a>
                                            <ul>
                                                <li><a href="index-12.html">Home 12 – Plants</a></li>
                                                <li><a href="index-13.html">Home 13 – Cosmetic</a></li>
                                                <li><a href="index-14.html">Home 14 – Christmas</a></li>
                                                <li><a href="index-15.html">Home 15 – Fruit</a></li>
                                                <li><a href="index-16.html">Home 16 – Black Friday</a></li>
                                                <li><a href="index-17.html">Home 17 – Flower</a></li>
                                                <li><a href="index-18.html">Home 18 – Book</a></li>
                                                <li><a href="index-19.html">Home 19 – Fashion</a></li>
                                                <li><a href="index-20.html">Home 20 – Electronics</a></li>
                                                <li><a href="index-21.html">Home 21 – Furniture</a></li>
                                                <li><a href="index-22.html">Home 22 – Handmade</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Demo Group 03</a>
                                            <ul>
                                                <li><a href="index-23.html">Home 23 – Organic</a></li>
                                                <li><a href="index-24.html">Home 24 – Pet Food</a></li>
                                                <li><a href="index-25.html">Home 25 – Auto Parts</a></li>
                                                <li><a href="index-26.html">Home 26 – Cake Shop</a></li>
                                                <li><a href="index-27.html">Home 27 – Kids Fashion</a></li>
                                                <li><a href="index-28.html">Home 28 – Book Shop</a></li>
                                                <li><a href="index-29.html">Home 29 – Flower Shop</a></li>
                                                <li><a href="index-30.html">Home 30 – Instagram</a></li>
                                                <li><a href="index-31.html">Home 31 – Black Friday</a></li>
                                                <li><a href="index-32.html">Home 32 – Valentine Day</a></li>
                                                <li><a href="index-33.html">Home 33 – Medical Equipment</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/shop">Shop</a>
                                    <ul>
                                        <li><a href="#">shop layout</a>
                                            <ul>
                                                <li><a href="/shop">standard style</a></li>
                                                <li><a href="shop-filter.html">Grid filter style</a></li>
                                                <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
                                                <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
                                                <li><a href="shop-grid-fw.html">Grid full wide </a></li>
                                                <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
                                                <li><a href="shop-list.html">list 1 column box </a></li>
                                                <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
                                                <li><a href="shop-list-fw-2col.html">list 2 column full wide</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">product details</a>
                                            <ul>
                                                <li><a href="product-details.html">tab style 1</a></li>
                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                <li><a href="product-details-3.html">tab style 3</a></li>
                                                <li><a href="product-details-4.html">sticky style</a></li>
                                                <li><a href="product-details-5.html">gallery style </a></li>
                                                <li><a href="product-details-slider-box.html">Slider style</a></li>
                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                <li><a href="product-details-6.html">fixed image style </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/shop">Collection</a></li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="/about">about us</a></li>
                                        <li><a href="/cartpage">cart page</a></li>
                                        <li><a href="/checkout">checkout </a></li>
                                        <li><a href="/wishlist">wishlist </a></li>
                                        <li><a href="/myaccount">my account</a></li>
                                        <li><a href="login-register.html">login / register </a></li>
                                        <li><a href="contact.html">contact us </a></li>
                                        <li><a href="404.html">404 page </a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">blog standard</a></li>
                                        <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                        <li><a href="blog-details.html">blog details 1</a></li>
                                        <li><a href="blog-details-2.html">blog details 2</a></li>
                                        <li><a href="blog-details-3.html">blog details 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="/about">About us</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Checkout </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="checkout-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap">
                            <!-- Address Selection Form -->
                            <form method="post" id="address_selection_form">
                                <h3>Select Address</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label for="address_select">Select Address</label>
                                            <select id="address_select" name="selected_address" class="form-control form-select" required>
                                                <% if (User[0].address.length > 0) {
                                                    User[0].address.forEach((x, index) => { %>
                                                        <option value="<%= index %>">
                                                            <%= x.name %> - <%= x.street %>, <%= x.district %>, <%= x.state %>, <%= x.pincode %>, <%= x.number %>
                                                        </option>
                                                    <% }); } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="billing-btn">
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addAddressModal">
                                        Add Address
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
        
                    <div class="col-lg-5">
                        <div class="your-order-area">
                            <form id="checkout_form" action="/place_order" method="post">
                                <div class="your-order-area">
                                    <h3>Your order</h3>
                                    <div class="your-order-wrap gray-bg-4">
                                        <div class="your-order-product-info">
                                            <div class="your-order-top">
                                                <ul>
                                                    <li>Product</li>
                                                    <li>Total</li>
                                                </ul>
                                            </div>
                                            <div class="your-order-middle">
                                                <% products.forEach((product, index) => { %>
                                                    <ul>
                                                        <li>
                                                            <span class="order-middle-left">
                                                                <%= product.productName %>
                                                            </span>
                                                            <span class="order-price">$<%= product.productTotalprice %></span>
                                                            <input type="hidden" name="productId" value="<%= product._id %>">
                                                            <input type="hidden" name="qty" value="<%= product.qty %>">
                                                            <input type="hidden" name="singleTotel" value="<%= product.productTotalprice %>">
                                                            <input type="hidden" name="price" value="<%= product.price %>">
                                                        </li>
                                                    </ul>
                                                <% }); %>
                                            </div>
                                            <div class="your-order-bottom">
                                                <ul>
                                                    <li class="your-order-shipping">Shipping</li>
                                                    <li>Free shipping</li>
                                                </ul>
                                            </div>
                                            <div class="your-order-total">
                                                <ul>
                                                    <li class="order-total">Total</li>
                                                    <li><%= cartTotalPrice %></li>
                                                    <input type="hidden" name="total" id="total" value="<%= cartTotalPrice %>">
                                                </ul>
                                            </div>
                                        </div>
        
                                        <div class="payment-method">
                                            <div class="widget-title">
                                                <h5>Please Choose your payment method</h5>
                                            </div>
                                            <br>
                                            <div class="d-flex mb-4">
                                                <div class="flex-grow-1 ms-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault2" checked required value="UPI">
                                                        <label class="form-check-label" for="flexRadioDefault2">UPI</label>
                                                    </div>
                                                    <br>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="payment_method" value="COD" required>
                                                        <label class="form-check-label" for="flexRadioDefault1">COD</label>
                                                    </div>
                                                    <br>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault1" value="WALLET" required>
                                                        <label class="form-check-label" for="flexRadioDefault1">Wallet</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="billing-info mb-20">
                                            <label for="address_select">Select Address</label>
                                            <select id="address_select" name="user" class="form-control form-select" required>
                                                <% if (User[0].address.length > 0) {
                                                    User[0].address.forEach((x, index) => { %>
                                                        <option value="<%= index %>">
                                                            <%= x.name %> - <%= x.street %>, <%= x.district %>, <%= x.state %>, <%= x.pincode %>
                                                        </option>
                                                    <% }); } %>
                                            </select>
                                        </div>
        
                                        <div class="Place-order mt-25">
                                            <button type="submit" class="btn btn-dark">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 ps-2-3 mb-1-9 mb-lg-0">
                        <div id="accordion" class="accordion-style3">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Coupon Code
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordion">
                                    <div class="card-body">

                                        <form id="apply_coupon">

                                            <div class="row">

                                                <div class="col-sm-12 mb-2">

                                                    <div class="form-group">
                                                        <label>Enter Your Coupon Code</label>
                                                        <input type="text" class="form-control"
                                                            name="couponcode"
                                                            placeholder="Enter Your Coupon Code">
                                                    </div>
                                                    <input type="hidden" name="cartTotel"
                                                        value="<%= User[0].cartTotel %>">
                                                </div>

                                            </div>

                                            <button type="submit" class="butn-style2 dark" onclick="">Apply
                                                Code</button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


        

        <footer class="footer-area bg-gray pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="copyright mb-30">
                            <div class="footer-logo">
                                <a href="/">
                                    <img alt="" src="assets/img/logo/logo.png">
                                </a>
                            </div>
                            <p>© 2020 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="footer-widget mb-30 ml-30">
                            <div class="footer-title">
                                <h3>ABOUT US</h3>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="#">Store location</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="#">Orders tracking</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="footer-widget mb-30 ml-50">
                            <div class="footer-title">
                                <h3>USEFUL LINKS</h3>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Support Policy</a></li>
                                    <li><a href="#">Size guide</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget mb-30 ml-75">
                            <div class="footer-title">
                                <h3>FOLLOW US</h3>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget mb-30 ml-70">
                            <div class="footer-title">
                                <h3>SUBSCRIBE</h3>
                            </div>
                            <div class="subscribe-style">
                                <p>Get E-mail updates about our latest shop and special offers.</p>
                                <div id="mc_embed_signup" class="subscribe-form">
                                    <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank"
                                        name="mc-embedded-subscribe-form" method="post"
                                        action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                        <div id="mc_embed_signup_scroll" class="mc-form">
                                            <input class="email" type="email" required=""
                                                placeholder="Enter your email here.." name="EMAIL" value="">
                                            <div class="mc-news" aria-hidden="true">
                                                <input type="text" value="" tabindex="-1"
                                                    name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                            </div>
                                            <div class="clear">
                                                <input id="mc-embedded-subscribe" class="button" type="submit"
                                                    name="subscribe" value="Subscribe">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Modal for Adding Address -->
        <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/add_address" id="add">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" name="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control" name="pincode">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control form-select" name="state">
                                            <option selected="selected"></option>
                                            <option value="Andhra Pradesh">India</option>
                                            <option value="Arunachal Pradesh">China</option>
                                            <option value="Assam">Vietnam</option>
                                            <option value="Bihar">Tokyo</option>
                                            <option value="Chhattisgarh">Japan</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">China</option>
                                            <option value="Haryana">UK</option>
                                            <option value="Himachal Pradesh">Abu Dhabi</option>
                                            <option value="Jharkhand">USA</option>
                                            <option value="Karnataka">Spain</option>
                                            <option value="Kerala">Kerala</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>District</label>
                                        <input type="text" class="form-control" name="district">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>City / Town</label>
                                        <input type="text" class="form-control" name="street">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Place name</label>
                                        <input type="text" class="form-control" name="place">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>House No / Building Name</label>
                                        <input type="text" class="form-control" name="building">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark float-end" data-bs-dismiss="modal">Save</button>
                        </form>
                    </div>
                </div>
            </div>



        

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>

            $(document).ready(function () {
                $('#checkout_form').submit((x) => {
                    x.preventDefault();
                    console.log("Form submitted");

                    $.ajax({
                        url: "/place_order",
                        method: "post",
                        data: $('#checkout_form').serialize(),
                        success: (response) => {
                            console.log("AJAX request successful");
                            console.log(response);

                            if (response.status) {
                                console.log("Order placed successfully, redirecting...");
                                location.href = "/order_success";
                            } else if (response.viewRazorpay) {
                                console.log("Initiating Razorpay payment");
                                razorpayPayment(response.order);
                            } else if (response.wallet == false) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'wallet has insufficient balance !',
                            showConfirmButton: false,
                            timer: 5000
                        })
                            }
                        },
                        error: (error) => {
                            console.error('Error placing order:', error);
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Failed to place order!',
                                showConfirmButton: true
                            });
                        }
                    });
                });
            });

            function razorpayPayment(order) {
                console.log("Initiating Razorpay Payment");

                var options = {
                    "key": "rzp_test_fGrz4BSIvTyUhX", // Replace with your Razorpay Key ID
                    "amount": order.amount, // Amount is in currency subunits. Default currency is INR.
                    "currency": "INR",
                    "name": "Megx", // Your business name
                    "description": "Test Transaction",
                    "image": "assets/img/logo/logo.png",
                    "order_id": order.id, // This is the order ID obtained in the response
                    "handler": function (response) {
                        console.log('Payment successful', response);
                        verifyPayment(response, order);
                    },
                    "prefill": {
                        "name": "Sharath kumar A", // Customer's name
                        "email": "sharathkannanakz@gmail.com",
                        "contact": "9000090000"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    },
                    "modal": {
                        escape: false,
                        onDismiss: () => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Payment failed.',
                            });
                        }
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }
            function verifyPayment(payment, order) {
                console.log('from verifyPayment');
                $.ajax({
                    url: '/verify-payment',
                    data: {
                        payment,
                        order
                    }, method: 'post',
                    success: (response) => {

                        if (response.status) {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'payment failed',
                                showConfirmButton: false,
                                timer: 5000
                            })
                        } else {

                            location.href = "/order_success"
                        }
                    }
                })
            }


        </script>

        <script>

$(document).ready(function () {
    $('#add').submit(function (event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '/add_address',
            data: formData,
            success: function (response) {
                $('#reloadDiv').load('/checkout #reloadDiv');
                console.log(response);
                if (response.status) {
                    Swal.fire({
                        title: 'Added!',
                        text: response.message,
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1000
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: response.message,
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
    });
});


$(document).ready(function () {
            $('#apply_coupon').submit(function (event) {
                event.preventDefault(); //prevent default form submit action
                var formData = $(this).serialize(); //serialize form data
                $.ajax({
                    type: 'POST',
                    url: '/apply_coupon',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#reloadDiv').load('/checkout #reloadDiv')
                            document.getElementById('discountt').innerHTML = 'discount amount : '
                            document.getElementById('discount').innerHTML = "₹" + response.discount_value
                            document.getElementById('newtotal').innerHTML = 'new total'
                            document.getElementById('newwtotal').innerHTML = "₹" + response.value
                            Swal.fire({
                                title: 'Coupon Applied SuccessFully!',
                                text: `You saved your ${response.discount_value}. Your new totel is ${response.value} `,
                                icon: 'success',
                                timer: 1000
                            })
                        } else if (response.used) {
                            Swal.fire({
                                title: 'Coupon Already Used!',
                                text: `You Already Used this coupon `,
                                icon: 'error',
                                timer: 1000
                            })
                        } else if (response.lessamount) {
                            Swal.fire({
                                title: 'Coupon Not Applicable!',
                                text: `The order totel is not sufficent to use this coupon`,
                                icon: 'error',
                                timer: 1000
                            })
                        } else if (response.expired) {
                            Swal.fire({
                                title: 'Coupon Expired!',
                                text: `The Coupon has Expired`,
                                icon: 'error',
                                timer: 1000
                            })
                        } else if (response.invalid) {
                            Swal.fire({
                                title: 'Invalid Coupon!',
                                text: `The Coupon code you enterd is in valid`,
                                icon: 'error',
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        //handle error response
                    }
                });
            });
        });

        </script>


        </script>
        <!-- JS
============================================ -->

        <!-- jQuery JS -->
        <script src="assets/js/vendor/jquery-v3.4.1.min.js"></script>
        <!-- Popper JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Plugins JS -->
        <script src="assets/js/plugins.js"></script>
        <!-- Ajax Mail -->
        <script src="assets/js/ajax-mail.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>

    </body>


    <!-- Mirrored from demo.hasthemes.com/flone-preview/flone/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:35:46 GMT -->

    </html>