<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


        <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Checkout </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="checkout-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap">
                            <!-- Address Selection Form -->
                            <form method="post" id="address_selection_form">
                                <h3>Select Address</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label for="address_select">Select Address</label>
                                            <select id="address_select" name="selected_address" class="form-control form-select" required>
                                                <% if (User.address.length > 0) {
                                                    User.address.forEach((x, index) => { %>
                                                        <option value="<%= index %>">
                                                            <%= x.name %> - <%= x.street %>, <%= x.district %>, <%= x.state %>, <%= x.pincode %>, <%= x.number %>
                                                        </option>
                                                    <% }); } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="billing-btn">
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addAddressModal">
                                        Add Address
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    
        
                    <div class="col-lg-5">
                        <div class="your-order-area">
                            <form id="checkout_form" action="/place_order" method="post">
                                <div class="your-order-area">
                                    <h3>Your order</h3>
                                    <div class="your-order-wrap gray-bg-4">
                                        <div class="your-order-product-info">
                                            <div class="your-order-top">
                                                <ul>
                                                    <li>Product</li>
                                                    <li>Total</li>
                                                </ul>
                                            </div>
                                            <div class="your-order-middle">
                                                <% User.cart.forEach((x)=>{ %>
                                                    <ul>
                                                        <li>
                                                            <span class="order-middle-left"><%= x.productId.productName %></span>
                                                            <span class="order-price">$<%= x.productId.price %></span>
                                                            <input type="hidden" name="productId" value="<%= x.productId.id %>">
                                                            <input type="hidden" name="qty" value="<%= x.qty %>">
                                                            <input type="hidden" name="singleTotel" value="<%= x.productId.price %>">
                                                            <input type="hidden" name="price" value="<%= x.productId.price %>">
                                                            <%= console.log("product name:",x.qty) %>
                                                        </li>
                                                    </ul>
                                                <% }) %>
                                            </div>
                                            <div class="your-order-bottom">
                                                <ul>
                                                    <li class="your-order-shipping">Shipping</li>
                                                    <li>Free shipping</li>
                                                </ul>
                                            </div>
                                            <div class="your-order-total">
                                                <ul>
                                                    <li class="order-total">Total</li>
                                                    <li>$<%= User.cartTotalPrice %></li>
                                                    <%= console.log("here get the cartTotalPrice", User.cartTotalPrice) %>
                                                    <input type="hidden" name="total" id="total" value="<%= User.cartTotalPrice %>">
                                                </ul>
                                                <tr>
                                                    <th id="discountt"></th>
                                                    <td class="text-gray-dark" id="discount"></td>
                                                </tr>
                                                <tr>
                                                    <th id="newtotal"></th>
                                                    <td class="text-gray-dark" id="newwtotal"></td>
                                                </tr>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="payment-method">
                                        <div class="widget-title">
                                            <h5>Please Choose your payment method</h5>
                                        </div>
                                        <br>
                                        <div class="d-flex mb-4">
                                            <div class="flex-grow-1 ms-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault2" checked required value="UPI">
                                                    <label class="form-check-label" for="flexRadioDefault2">UPI</label>
                                                </div>
                                                <br>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="payment_method" value="COD" required>
                                                    <label class="form-check-label" for="flexRadioDefault1">COD</label>
                                                </div>
                                                <br>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault1" value="WALLET" required>
                                                    <label class="form-check-label" for="flexRadioDefault1">Wallet</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="billing-info mb-20">
                                        <label for="address_select">Select Address</label>
                                        <select id="address_select" name="selected_address" class="form-control form-select" required>
                                            <% if (User.address.length > 0) {
                                                User.address.forEach((x, index) => { %>
                                                    <option value="<%= index %>">
                                                        <%= x.name %> - <%= x.street %>, <%= x.district %>, <%= x.state %>, <%= x.pincode %>, <%= x.number %>
                                                    </option>
                                                <% }); } %>
                                        </select>
                                    </div>
        
                                    <div class="Place-order mt-25">
                                        <button type="submit" class="btn btn-dark">Place Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 ps-2-3 mb-1-9 mb-lg-0">
                        <div id="accordion" class="accordion-style3">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Coupon Code
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordion">
                                    <div class="card-body">
        
                                        <form id="apply_coupon">
        
                                            <div class="row">
        
                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label>Enter Your Coupon Code</label>
                                                        <input type="text" class="form-control" name="couponcode" placeholder="Enter Your Coupon Code" required>
                                                    </div>
                                                    <input type="hidden" name="total" value="<%= User.cartTotalPrice %>">
                                                </div>
        
                                            </div>
        
                                            <button type="submit" class="butn-style2 dark" onclick="">Apply
                                                Code</button>
        
                                        </form>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
          
          


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>

            $(document).ready(function () {
                $('#checkout_form').submit((x) => {
                    x.preventDefault();
                    console.log("Form submitted");

                    $.ajax({
                        url: "/place_order",
                        method: "post",
                        data: $('#checkout_form').serialize(),
                        success: (response) => {
                            console.log("AJAX request successful");
                            console.log(response);

                            if (response.status) {
                                console.log("Order placed successfully, redirecting...");
                                location.href = "/order_success";
                            } else if (response.viewRazorpay) {
                                console.log("Initiating Razorpay payment");
                                razorpayPayment(response.order);
                            } else if (response.wallet == false) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'wallet has insufficient balance !',
                                    showConfirmButton: false,
                                    timer: 5000
                                })
                            }
                        },
                        error: (error) => {
                            console.error('Error placing order:', error);
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Failed to place order!',
                                showConfirmButton: true
                            });
                        }
                    });
                });
            });

            function razorpayPayment(order) {
                console.log("Initiating Razorpay Payment");

                var options = {
                    "key": "rzp_test_fGrz4BSIvTyUhX", // Replace with your Razorpay Key ID
                    "amount": order.amount, // Amount is in currency subunits. Default currency is INR.
                    "currency": "INR",
                    "name": "Megx", // Your business name
                    "description": "Test Transaction",
                    "image": "assets/img/logo/logo.png",
                    "order_id": order.id, // This is the order ID obtained in the response
                    "handler": function (response) {
                        console.log('Payment successful', response);
                        verifyPayment(response, order);
                    },
                    "prefill": {
                        "name": "Sharath kumar A", // Customer's name
                        "email": "sharathkannanakz@gmail.com",
                        "contact": "9000090000"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    },
                    "modal": {
                        escape: false,
                        onDismiss: () => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Payment failed.',
                            });
                        }
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }
            function verifyPayment(payment, order) {
                console.log('from verifyPayment');
                $.ajax({
                    url: '/verify-payment',
                    data: {
                        payment,
                        order
                    }, method: 'post',
                    success: (response) => {

                        if (response.status) {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'payment failed',
                                showConfirmButton: false,
                                timer: 5000
                            })
                        } else {

                            location.href = "/order_success"
                        }
                    }
                })
            }


        </script>

        <script>

            $(document).ready(function () {
                $('#add').submit(function (event) {
                    event.preventDefault();
                    var formData = $(this).serialize();
                    $.ajax({
                        type: 'POST',
                        url: '/add_address',
                        data: formData,
                        success: function (response) {
                            $('#reloadDiv').load('/checkout #reloadDiv');
                            console.log(response);
                            if (response.status) {
                                Swal.fire({
                                    title: 'Added!',
                                    text: response.message,
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.message,
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        },
                    });
                });
            });


            $(document).ready(function () {
            $('#apply_coupon').submit(function (event) {
                event.preventDefault(); //prevent default form submit action
                var formData = $(this).serialize(); //serialize form data
                $.ajax({
                    type: 'POST',
                    url: '/apply_coupon',
                    data: formData,
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            $('#reloadDiv').load('user/checkout #reloadDiv')
                            document.getElementById('discountt').innerHTML = 'discount amount : '
                            document.getElementById('discount').innerHTML = "₹" + response.discount_value
                            document.getElementById('newtotal').innerHTML = 'new total'
                            document.getElementById('newwtotal').innerHTML = "₹" + response.value
                            Swal.fire({
                                title: 'Coupon Applied SuccessFully!',
                                text: `You saved your ${response.discount_value}. Your new totel is ${response.value} `,
                                icon: 'success',
                                timer: 1000
                            })
                        } else if (response.used) {
                            Swal.fire({
                                title: 'Coupon Already Used!',
                                text: `You Already Used this coupon `,
                                icon: 'error',
                                timer: 1000
                            })
                        } else if (response.lessamount) {
                            Swal.fire({
                                title: 'Coupon Not Applicable!',
                                text: `The order totel is not sufficent to use this coupon`,
                                icon: 'error',
                                timer: 1000
                            })
                        } else if (response.expired) {
                            Swal.fire({
                                title: 'Coupon Expired!',
                                text: `The Coupon has Expired`,
                                icon: 'error',
                                timer: 1000
                            })
                        } else if (response.invalid) {
                            Swal.fire({
                                title: 'Invalid Coupon!',
                                text: `The Coupon code you enterd is in valid`,
                                icon: 'error',
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        //handle error response
                    }
                });
            });
        });


        </script>

        <%- include('../layouts/footer.ejs') %>
            <%- include('../layouts/foot.ejs')%>



                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                    aria-labelledby="addAddressModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/add_address" id="add">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Full Name</label>
                                                <input type="text" class="form-control" name="name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control" name="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Pincode</label>
                                                <input type="text" class="form-control" name="pincode">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select class="form-control form-select" name="state">
                                                    <option selected="selected"></option>
                                                    <option value="Andhra Pradesh">India</option>
                                                    <option value="Arunachal Pradesh">China</option>
                                                    <option value="Assam">Vietnam</option>
                                                    <option value="Bihar">Tokyo</option>
                                                    <option value="Chhattisgarh">Japan</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">China</option>
                                                    <option value="Haryana">UK</option>
                                                    <option value="Himachal Pradesh">Abu Dhabi</option>
                                                    <option value="Jharkhand">USA</option>
                                                    <option value="Karnataka">Spain</option>
                                                    <option value="Kerala">Kerala</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>District</label>
                                                <input type="text" class="form-control" name="district">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>City / Town</label>
                                                <input type="text" class="form-control" name="street">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Place name</label>
                                                <input type="text" class="form-control" name="place">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>House No / Building Name</label>
                                                <input type="text" class="form-control" name="building">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-dark float-end"
                                        data-bs-dismiss="modal">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>