
<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>


<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider-2 slider-height-2 d-flex align-items-center bg-img" style="background-image:url(assets/img/slider/slider-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-12 ml-auto">
                        <div class="slider-content-3 slider-animated-1 text-center">
                            <h3 class="animated">Stylish</h3>
                            <h1 class="animated">Male Clothes</h1>
                            <p class="animated">30% off Summer Vacation</p>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/shop">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-2 slider-height-2 d-flex align-items-center bg-img" style="background-image:url(assets/img/slider/slider-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-12 ml-auto">
                        <div class="slider-content-3 slider-animated-1 text-center">
                            <h3 class="animated">Stylish</h3>
                            <h1 class="animated">Male Clothes</h1>
                            <p class="animated">30% off Summer Vacation</p>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collections-area pt-100 pb-95">
    <div class="container">
        <div class="section-title-3 mb-40">
            <h4>Collections</h4>
        </div>
        <div class="collection-wrap">
            <div class="collection-active owl-carousel">
                <% if(products.length> 0) { %>
                    <% for(let i=0; i < products.length; i++) { %>
                <div class="collection-product">
                    <div class="collection-img">
                        <a href="/productdetail?id=<%= products[i]._id %>"><img
                            src="/img/<%= products[i].images[0] %>" alt=""></a>
                    </div>
                </div>
                <% } %>
                                <% } else { %>
                                    <p>No products found</p>
                                    <% } %>
            </div>
        </div>
    </div>
</div>

<div class="product-area pb-70">
    <div class="container">
        <div class="tab-filter-wrap mb-60">
            <div class="product-tab-list-2 nav">
                <a class="active" href="#product-1" data-toggle="tab" >
                    <h4>Products</h4>
                </a>
                <!-- <a href="#product-2" data-toggle="tab">
                    <h4>Hoodies</h4>
                </a>
                <a href="#product-3" data-toggle="tab">
                    <h4>Shirts</h4>
                </a> -->
            </div>
           
        </div>
        <div class="product-filter-wrapper">
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="product-1">
                <div class="row">
                    <% if(products.length > 0) { %>
                        <% for(let i = 0; i < products.length; i++) { %>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-5 mb-25">
                            <div class="product-img">
                                <a href="/productdetail?id=<%= products[i]._id %>">
                                    <img src="/img/<%= products[i].images[0] %>" alt="<%= products[i].name %>">
                                </a>
                            </div>
                            <div class="product-content-5 text-center">
                                <h3><a href="/productdetail?id=<%= products[i]._id %>"><%= products[i].productName %></a></h3>
                                            <div class="price-5">
                                                <span><%= products[i].price %></span>
                                            </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% } else { %>
                            <p>No products found</p>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pb-55">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>FEATURED IN</h2>
        </div>
        <div class="row">
            <% if(banner.length > 0) { %>
                <% for(let i = 0; i < banner.length; i++) { %>
            <div class="col-lg-4 col-lg-6 col-md-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="/shop"><img src="/img/<%= banner[i].Image %>" alt=""></a>
                        <span class="purple"><%= banner[0].title %></span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html"><%= banner[i].caption %><br> <%= banner[i].sub_title %></a></h3>
                           
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else { %>
                <p></p>
            <% } %>
        </div>
    </div>
</div>



<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/foot.ejs')%>