<%- include('../layouts/header.ejs') %>
<%- include('../layouts/nav.ejs')%>

    <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">My Orders</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cart-main-area pt-90 pb-100">
        <div class="container">
            <h3 class="cart-page-title">My Orders</h3>
            <div class="row">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form action="#">
                        <div class="table-content table-responsive cart-table-content">
                            <table>
                                <% if(orders.length> 0){ %>
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach((x,index)=> {
                                        if(x.status !='Pending'){
                                        %>
                                    <tr>
                                        <td class="product-thumbnail"><%= index+1 %></td>
                                        <td class="product-name"><%= x.date.toLocaleDateString() %></td>
                                        <td class="product-wishlist-cart">
                                            <% if (x.status=='Confirmed' ){ %>
                                                <span
                                                    class="fas fa-circle text-primary small mr-1"></span><strong>
                                                    <%= x.status %>
                                                </strong>
                                                <% }else if (x.status=='Processing' ){ %>
                                                    <span
                                                        class="fas fa-circle text-warning small mr-1"></span><strong>
                                                        <%= x.status %>
                                                    </strong>
                                                    <% }else if (x.status=='Shipped' ){ %>
                                                        <span
                                                            class="fas fa-circle text-primary small mr-1"></span><strong>
                                                            <%= x.status %>
                                                        </strong>
                                                        <% }else if(x.status=="Delivered" ){ %>
                                                            <span
                                                                class="fas fa-circle text-success small mr-1"></span><strong>
                                                                <%= x.status %>
                                                            </strong>
                                                            <% } else if( x.status=='Cancelled' ){
                                                                %>
                                                                <span
                                                                    class="fas fa-circle text-danger small mr-1"></span><strong>
                                                                    <%= x.status %>
                                                                </strong>
                                                                <% } else if(
                                                                    x.status=='Return Pending' ){ %>
                                                                    <span
                                                                        class="fas fa-circle text-danger small mr-1"></span><strong>
                                                                        <%= x.status %>
                                                                    </strong>
                                                                    <% } else if(
                                                                        x.status=='Return'
                                                                        ){ %>
                                                                        <span
                                                                            class="fas fa-circle text-danger small mr-1"></span><strong>
                                                                            <%= x.status %>
                                                                        </strong>
                                                                        <% } %>
                                        </td>
                                        <td class="product-price-cart">₹ <%= x.total %></td>
                                        <td class="product">
                                            <a href="/view-order?id=<%= x._id %>" class="text-primary">View</a>
                                        </td>
                                    </tr>
                                    <%} }) }else{ %>
                                        <img src="/userr/img/content/no orders.jpg" alt=""
                                            srcset="">
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
              
                <p></p>
              
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs') %>
    <%- include('../layouts/foot.ejs')%>