<%- include('../layouts/header.ejs') %>
<%- include('../layouts/header.ejs') %>


    <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Order Success</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cart-main-area pt-90 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="common-block text-center p-4 shadow rounded">
                        <div class="inner-title">
                            <h3 class="mb-3">Thank you for your order ○</h3>
                        </div>
                        <p class="lead mb-4">
                            Order id : <%= order.orderId %> <br>
                            Order total : ₹ <%= order.total %> <br>
                            Payment Type : <%= order.paymentType %> <br>
                        </p>
                        
                        <button type="button" class="btn btn-dark wide m-1" data-toggle="modal"
                                data-target="#exampleModal">
                                download invoice
                            </button>
                        <a href="/" class="btn btn-dark wide m-1">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                <div class="modal-body">
                    <section class="main-pd-wrapper" id="invoice" style="width: 450px; margin: auto">
                        <div style="
                              text-align: center;
                              margin: auto;
                              line-height: 1.5;
                              font-size: 14px;
                              color: #4a4a4a;
                            ">


                            <p style="font-weight: bold; color: #000; margin-top: 15px; font-size: 18px;">
                                Invoice/Bill Of Supply <span class="text-danger">Megx.ft</span> Retailers<br>
                                Private Limited
                            </p>
                            <p style="margin: 15px auto;">
                                A2, Test Street <br>
                                Test Area Bangaluru 560001, Karnataka
                            </p>
                            <p>
                                <b>GSTIN:</b> 0987653456789
                            </p>
                            <p>
                                <b>CIN:</b> 0987653456789
                            </p>
                            <p>
                                <b>FSSAI No. :</b> +91 8606009733
                            </p>
                            <hr style="border: 1px dashed rgb(131, 131, 131); margin: 25px auto">
                        </div>
                        <table style="width: 100%; table-layout: fixed">
                            <thead>
                                <tr>
                                    <th style="width: 50px; padding-left: 0;">Sn.</th>
                                    <th style="width: 220px;">Item Name</th>
                                    <th>Price</th>
                                    <th>QTY</th>
                                    <th style="text-align: right; padding-right: 0;">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%order.product.forEach((product,index)=> { %>
                                    <tr class="invoice-items">
                                        <td>
                                            <%= index+1 %>
                                        </td>
                                        <td>
                                            <%= product.productid.productName%>
                                        </td>
                                        <td>₹<%= product.singlePrice%>
                                        </td>
                                        <td>
                                            <%= product.qty %> PC
                                        </td>
                                        <td style="text-align: right;">₹<%= product.singleTotel%>
                                        </td>
                                    </tr>
                                    <% }) %>


                            </tbody>
                        </table>
                        <table style="width: 100%;
                          margin-top: 15px;
                          border: 1px dashed #00cd00;
                          border-radius: 3px;">
                            <thead>
                                <tr>
                                    <th>Sub Total</th>

                                    <th style="text-align: right;">₹<%= order.total %>
                                    </th>

                                </tr>
                                <tr>
                                    <td>Discount </td>

                                    <!-- <td style="text-align: right;">-₹ </td> -->

                                    <td style="text-align: right;">₹ <%= order.discount %>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Total Saving In Rs </td>

                                    <!-- <td style="text-align: right;">₹</td> -->

                                    <td style="text-align: right;">₹ 0</td>

                                </tr>

                            </thead>

                        </table>

                        <table class="my-3" style="width: 100%;
                          background: #fcbd024f;
                          border-radius: 4px;">
                            <thead>
                                <tr>
                                    <th>Total</th>
                                    <th style="text-align: center;">Item(<%= order.product.length %>)</th>
                                    <th>&nbsp;</th>
                                    <th style="text-align: right;">₹ <%=
                                            order.total  %>
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn_3" onclick="invoice()">Save Invoice</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- JS
============================================ -->

    <script>
    function invoice(){
                  var divToPrint = document.getElementById("invoice");
                var newWindow = window.open("", "Print Window");
                newWindow.document.write(divToPrint.outerHTML);
                newWindow.print();
                newWindow.close();
                }
    </script>

<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/foot.ejs')%>