<%- include('../layouts/header.ejs') %>
<%- include('../layouts/nav.ejs')%>



<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Shop Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="product-details-img mr-20 product-details-tab">
                    <div id="gallery" class="product-dec-slider-2">
                            <% product.images.forEach((image) => { %>
                                <a data-image="/img/<%= image %>" data-zoom-image="/img/<%= image %>">
                                    <img src="/img/<%= image %>" alt="">
                                </a>
                            <% }); %>
                    </div>
                    <div class="zoompro-wrap zoompro-2 pl-20">
                        <div class="zoompro-border zoompro-span">
                            <img class="zoompro" src="/img/<%= product.images[0] %>" data-zoom-image="/img/<%= product.images[0] %>" alt=""/>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-5 col-md-12">
                <div class="product-details-content">
                    <% if (product) { %>
                        <h2><%= product.productName %></h2>
                        <div class="product-details-price">
                            <span>₹ <%= product.price %></span>
                        </div>
                    <div class="pro-details-list">
                        <ul>
                            <li><%= product.description %></li> 
                        </ul>
                    </div>
                    <div class="pro-details-size-color">
                        <div class="pro-details-size">
                            <label for="sizeSelect">Size:</label>
                            <select id="sizeSelect" class="mb-4 form-control medium form-select">
                                <% for(let i = 0; i < product.size.length; i++) { %>
                                    <option value="<%= product.size[i] %>"><%= product.size[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>                    
                    <div class="pro-details-quality">
                        <!-- <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                        </div> -->
                        <div class="pro-details-cart btn-hover" onclick="addToCart('<%=product._id%>')">
                            <a href="#">Add To Cart</a>
                        </div>

                        <div class="pro-details-wishlist" onclick="addToWishlist('<%= product._id %>')">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                        </div>
                        
                        <div class="pro-details-compare">
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                        </div>
                    </div>
                    <div class="pro-details-meta">
                        <span>Categories :</span>
                        <ul>
                            <li><a href="#"><%= product.category %></a></li>
                            <!-- <li><a href="#">Furniture,</a></li>
                            <li><a href="#">Fashion</a></li> -->
                        </ul>
                    </div>
                    <% } else { %>
                        <p>Product not found.</p>
                    <% } %>
                    <!-- <div class="pro-details-meta">
                        <span>Tag :</span>
                        <ul>
                            <li><a href="#">Fashion, </a></li>
                            <li><a href="#">Furniture,</a></li>
                            <li><a href="#">Electronic</a></li>
                        </ul>
                    </div> -->
                    <div class="pro-details-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-toggle="tab" href="#des-details1">Additional information</a>
                <a class="active" data-toggle="tab" href="#des-details2">PRODUCT SUSTAINABILITY</a>
                <!-- <a data-toggle="tab" href="#des-details3">Reviews (2)</a> -->
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt</p> -->
                        <p>Carbon footprint: we work to continually reduce the environmental footprint of our products. The remaining carbon emissions associated with all activities in this product’s life cycle are carefully calculated, and we commit to invest funds into carbon removal projects that protect and restore natural ecosystems to tackle climate change.</p>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane ">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Material</span>100% cotton</li>
                            <li><span>Size</span>Model is 188 cm / 6'2" and is wearing a size 4</li>
                            <li><span>Style</span> Crewneck</li>
                            <li><span>Sleeve</span>Short sleeves</li>
                        </ul>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <!-- <div class="col-lg-7">
                            <div class="review-wrapper">
                                <div class="single-review">
                                    <div class="review-img">
                                        <img src="assets/img/testimonial/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-review child-review">
                                    <div class="review-img">
                                        <img src="assets/img/testimonial/2.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Sus pen disse viverra ed viverra. Mauris ullarper euismod vehicula. </p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-5">
                            <!-- <div class="ratting-form-wrapper pl-50">
                                <h3>Add a Review</h3>
                                <div class="ratting-form">
                                    <form action="#">
                                        <div class="star-box">
                                            <span>Your rating:</span>
                                            <div class="ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-10">
                                                    <input placeholder="Name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-10">
                                                    <input placeholder="Email" type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    <textarea name="Your Review" placeholder="Message"></textarea>
                                                    <input type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="related-product-area pb-95">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Related products</h2>
        </div>
        <div class="related-product-active owl-carousel">
            <% if(products.length > 0) { %>
                <% for(let i = 0; i < products.length; i++) { %>
            <div class="product-wrap">
                <div class="product-img">
                    <a href="/productdetail?id=<%= products[i]._id %>">
                        <img src="/img/<%= products[i].images[0] %>" alt="<%= products[i].name %>">
                    </a>
                </div>
                <div class="product-content text-center">
                    <h3><a href="/productdetail?id=<%= products[i]._id %>"><%= products[i].productName %></a></h3>
                </div>
            </div>
            <% } %>
                        <% } else { %>
                            <p>No products found</p>
                        <% } %>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function addToCart(prodId){
          
          $.ajax({
            
              url:'/add-to-cart',
              data:{
                  productId:prodId
              },
              
              method:'post',
              success:(res)=>{
                console.log(res);
                  if (res.exist) {
                    console.log("hey")
                    Swal.fire({
                    title: 'Already Exist',
                    text: 'Product Already in your Cart',
                    icon: 'info',
                    showConfirmButton: false,
                    timer: 1000
                });
                  }else {
                    Swal.fire({
                    title: 'Added',
                    text: 'Product added to Wishlist',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
            }
              }
          })
         
      }

</script>

<script>

   function addToWishlist(proid) {
    console.log("hey");
    $.ajax({
        
        
        
        url: '/addtowhishlist ',
        data: {
            productId: proid
        },
        method: 'post',
        success: (response) => {
            if (response.exist) {
                Swal.fire({
                    title: 'Already Exist',
                    text: 'Product Already in Wishlist',
                    icon: 'info',
                    showConfirmButton: false,
                    timer: 1000
                });
            } else {
                Swal.fire({
                    title: 'Added',
                    text: 'Product added to Wishlist',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
            }
        },
        error: function (xhr, status, error) {
            console.error(error);
            // Handle error here
        }
    });
}

</script>


<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/foot.ejs')%>